@font-face {
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/press-start-2p.woff2") format("woff2");
}

html,
body {
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    cursor: url(cursor_3x.png), default;
    overflow: hidden;
    font-variant-ligatures: none;
}

#column {
    margin: auto;

    /* full window size */
    width: 100%;
    height: 100%;

    display: flex;

    /* small window */
    /* margin-top: 40px;
    width: 1000px;
    height: 800px; */
}

html,
body {
    background-color: #2d1e2f;
}

body,
input {
    color: #fcecd1;
    line-height: 32px;
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
}

a {
    color: #64b082;
    text-decoration: none;
}
a:hover {
    color: #fcecd1;
}

* {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: crisp-edges;
}

.game-text-input {
    display: fixed;
}
