body {
    margin: 0;
}

#column {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: 640px;
}

#canvas {
    width: 100%;
    height: 100%;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
}