html, body {
    margin: 0;
    background-color: #222;
    height: 100%;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    cursor: url(cursor.png), default;	
    overflow: hidden;
}

#column {
    margin: auto;
    width: 100%;
    height: 100%;
    /* margin-top: 40px; */
    /* width: 1000px; */
    /* height: 800px; */
}

#canvas {
    width: 100%;
    height: 100%;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
    image-rendering: crisp-edges;
}
